{% extends "base/base.html" %}

{% block title %}Create Account | VenturePrime{% endblock %}

{% block content %}

  {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

  <form action="" method="post">
  	{% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
    <!--
    <label for="email">Email Address:</label>
    <input type="text" name="email" value="" id="email">
    <label for="username">Username:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">
    <label for="confirm_password">Confirm Password:</label>
    <input type="confirm_password" name="confirm_password" value="" id="confirm_password">

    <input type="submit" value="Submit" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
  -->
  </form>

{% endblock %}