{% extends "base/base.html" %}

{% block title %}Welcome to VenturePrime!{% endblock %}

{% block content %}
<p>
<h1>Talk to Your Users.</h1>
</p>
<!--
<img src='\static\images\comic.png'>
<br />
-->
<form action="" method="POST">
	{% csrf_token %}
	<table>
		{{ form.as_table }}
	</table>
	<input type="submit" value="Submit">
</form>

<!--  Facebook likes -->
<p>
	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
 			var js, fjs = d.getElementsByTagName(s)[0];
  			if (d.getElementById(id)) return;
 		 	js = d.createElement(s); js.id = id;
 		 	js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
 		 	fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<div class="fb-like" data-href="http://www.facebook.com/VenturePrime" data-send="false" data-width="450" data-show-faces="true"></div>
</p>
{% endblock %}