{% extends "base/base.html" %}

{% block title %}Welcome to VenturePrime!{% endblock %}

{% block custom_style %}
<link rel="stylesheet" href="\static\comic.css">
{% endblock %}

{% block content %}
<p>
<h1>Talk to Your Users.</h1>
</p>

<br />
<br />
<div id="comic_top">
	<h2>Your Life Without VenturePrime:</h2>
	<img src='\static\images\yourlifewithout.png'>
</div>
<br />
<div id="comic_bot">
	<h2>Your Life With VenturePrime:</h2>
	<img src='\static\images\yourlifewith.png'>
</div>
<br />
<br />
<h4>Sign up below to be notified when we launch!</h4>

<div id="signup_form">
<form action="" method="POST">
	{% csrf_token %}
	<table>
		{{ form.as_table }}
	</table>
	<input type="submit" value="Submit">
</form>
</div>

<!--  Facebook likes -->
<p>
	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
 			var js, fjs = d.getElementsByTagName(s)[0];
  			if (d.getElementById(id)) return;
 		 	js = d.createElement(s); js.id = id;
 		 	js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
 		 	fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<div class="fb-like" data-href="http://www.facebook.com/VenturePrime" data-send="false" data-width="450" data-show-faces="true"></div>
</p>
<br />
<br />
<br />
{% endblock %}