<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="shortcut icon" href="\static\favicon.ico">
	<link rel="stylesheet" href="\static\bootstrap\css\bootstrap.css">
   <link rel="stylesheet" href="\static\styles.css">
</head>
<body>
<header>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<a class="brand" href="../">VenturePrime</a>
		<ul class="nav pull-right">
      		<li></li>
      		<li class="divider-vertical"></li>
      		<li><a href="/howvpworks/">How It Works</a></li>
      		<li class="divider-vertical"></li>
      		<li><a href="/blog/">Blog</a></li>
      		<li class="divider-vertical"></li>
      		<li><a href="#">Sign Up</a></li>
    	</ul>
		</div>
	</div>
</header>
<br />
<br />
<div class="content">
	{% block content %}{% endblock %}
</div>
<div class="">   
   {% block menu %}{% endblock %}
</div>

{% block footer %}
<div class="navbar navbar-fixed-bottom">
	<div class="navbar-inner">
		<ul class="nav pull-left">
   			<li></li>
   			<li><a href="/contact/">Contact Us</a></li>
   			<!--
   			<li class="divider-vertical"></li>
   			<li><a href="#">Fake Link</a></li>
   			-->
   		</ul>
	</div>
</div>
{% endblock %}
</div>
</body>
</html>