{% extends "base/base.html" %}

{% block title %}Contact Us | VenturePrime{% endblock %}

{% block content %}
<h1>Contact Us - (Note: This page doesn't work yet)</h1>

    {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="/contact/" method="post">
        <p>Subject: <input type="text" name="subject"></p>
        <p>Your e-mail (optional): <input type="text" name="email"></p>
        <p>Message: <textarea name="message" rows="10" cols="100"></textarea></p>
        <input type="submit" value="Submit">
    </form>
{% endblock %}